body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.backgroundImage {
    background-image: url('./img/GitHub-Mark.png');
    background-position: right ; 
    background-repeat: no-repeat; 
    background-size: contain;
}

.profile-card .avatar {
  max-width: 150px;
  max-height: 150px;
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.card {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400;
}

.avatar img.rounded-circle {
  max-width: 150px !important;
}

.clear{
  clear: both;
}

.card-align{
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 50px;
}

.card .card-block {
  position: relative;
}
.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

#page-numbers {
  list-style: none;
  display: flex;
  align-items: flex-start;
}

#page-numbers > li {
  margin-right: 0.3em;
  user-select: none;
  cursor: pointer;
  border: 0.9px;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color:#343a40;
  background-color: #fff;
  margin-left: -1px;
  max-height: 35px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#page-numbers > li:hover{
  background-color:  #343a40;
  color: white;
}
